# Vite
VITE_GOOGLE_CLIENT_ID=549065164796-b20dqrsgne5sd2evhbmk2hf14851otv9.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=AIzaSyB1O7_iLlXQqlMkIsn86_onles4n296lng
VITE_REDIRECT_URI=http://localhost:3000/auth
VITE_API_URL=http://localhost:8000         # De forma local
#VITE_API_URL=http://192.168.100.10:8000   #IP --> PC compartir en red - mobile
