SECRET_KEY='django-insecure-t(%bi!=6dsyhd=5#kug=+^)0k981pis_4rg4=aq)9a-di2^0l8'
DEBUG=True
ALLOWED_HOSTS='localhost,127.0.0.1,192.168.100.117'

# Configuración de la base de datos
DB_ENGINE='django.db.backends.postgresql'
DB_NAME='cancha'
DB_USER='postgres'
DB_PASSWORD='1234'
DB_HOST='localhost'
DB_PORT='5432'
# Use 'localhost' if running manually, 'db' if running in Docker.
# You can leave it as 'db' here and override it in your OS for manual runs,
# or just change it when you switch modes.


# --- Database Config (For Docker Postgres Image) ---
# We add these duplicates so the DB container understands them directly
#POSTGRES_DB=cancha
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=123456

# Credenciales de Google OAuth
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# Configuración de CORS
CORS_ALLOWED_ORIGINS='http://localhost:3000,http://192.168.100.117:5173'
CSRF_TRUSTED_ORIGINS='http://localhost:5173,http://192.168.100.117:5173'
CORS_ALLOW_ALL_ORIGINS=True

# Zona horaria
TIME_ZONE='America/Bogota'

# Configuración de Django Allauth
SITE_ID=1
ACCOUNT_EMAIL_VERIFICATION='optional'
ACCOUNT_AUTHENTICATION_METHOD='username'
LOGIN_REDIRECT_URL='/'
LOGOUT_REDIRECT_URL='/'

# Configuración de Static y Media Files
STATIC_URL='static/'
MEDIA_URL='/media/'

# Configuración de Django
DEFAULT_AUTO_FIELD='django.db.models.BigAutoField'

# Configuración de Logging
LOGGING_ROOT_LEVEL='INFO'
LOGGING_DJANGO_LEVEL='INFO'
LOGGING_USERS_LEVEL='DEBUG'

# Configuración de Simple JWT
SIMPLE_JWT_USERNAME_FIELD='username'

# Configuración de Correo (Brevo)
# settings.py (COMENTA LO QUE TENGAS Y PON ESTO)

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp-relay.brevo.com'
EMAIL_PORT=587
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER='a1e10d001@smtp-brevo.com'
EMAIL_HOST_PASSWORD='xsmtpsib-72cccd4c80148d7fd9f220de1f0fbf1fa570090987b287c693e14ec4ef9248e1-l3Zej3jXbUDPWAUb'
DEFAULT_FROM_EMAIL='digitaldxz1@gmail.com'





# Configuración de Djoser / Frontend Links
DOMAIN='localhost:5173'
SITE_NAME='Cancha Sintetica'
PROTOCOL='http'

